In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.metrics import auc

In [3]:
df = pd.read_csv('../data/merged_data.csv')

In [4]:
df.head()

   customer_id  credit_score  ...  paperless_billing  default
0        10000           696  ...                  1        0
1        10001           659  ...                  1        1
2        10002           662  ...                  0        0
3        10003           676  ...                  1        0
4        10004           678  ...                  0        0

[5 rows x 63 columns]

In [5]:
df['employment_type'].replace({'Full Time': 'Full-time', 'FULL_TIME': 'Full-time', 'Fulltime': 'Full-time', 'FT': 'Full-time',
                                   'SELF_EMPLOYED': 'Self-employed', 'Self Emp': 'Self-employed', 'Self Employed': 'Self-employed',
                                   'PART_TIME': 'Part-time', 'PT': 'Part-time', 'Part Time': 'Part-time',
                                   'Contractor': 'Contract', 'CONTRACT': 'Contract'}, inplace=True)

df['loan_type'].replace({'Personal Loan': 'Personal', 'personal': 'Personal', 'PERSONAL': 'Personal',
                             'MORTGAGE': 'Mortgage', 'mortgage': 'Mortgage',
                             'CreditCard': 'C|redit Card', 'credit card': 'Credit Card', 'CC': 'Credit Card'}, inplace=True)

C:\Users\Triston\AppData\Local\Temp\ipykernel_25236\1264580018.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['employment_type'].replace({'Full Time': 'Full-time', 'FULL_TIME': 'Full-time', 'Fulltime': 'Full-time', 'FT': 'Full-time',
C:\Users\Triston\AppData\Local\Temp\ipykernel_25236\1264580018.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['loan_type'].replace({'Personal Loan': 'Personal', 'personal': 'Personal', 'PERSONAL': 'Personal',

In [8]:
df['referral_code'].value_counts(normalize=True)

referral_code
REF0000    0.799864
REF4315    0.000144
REF4048    0.000100
REF9450    0.000100
REF2500    0.000089
             ...
REF9296    0.000011
REF9343    0.000011
REF5100    0.000011
REF2475    0.000011
REF6630    0.000011
Name: proportion, Length: 7805, dtype: float64

In [ ]:
df.drop(columns=['customer_id', 'application_id', 'random_noise_1'])